.header-image {
  background-image: url("./images/fantasy-2543658_1920.jpg");
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.btn-index {
  width: 8em;
  height: 2.5em;
  border-radius: 15px;
  margin: 0.2em;
}

.card-image {
  height: 60%;
}

.card-body {
  height: 40%;
}

footer {
  background: #8b3f08;
  text-align: center;
}

footer,
.btn-index,
.header-image,.btn-signup {
  background-color: #8b3f08;
  color: #fff;
}

.story-head,
.top-story {
  border-bottom: 2px solid rgb(139, 63, 8);
}

.story-head,
.head-text {
  color: #8b3f08;
}
.article-container {
  padding: 20px 60px 20px 60px;
}

.searchbar {
  border-radius: 8px;
  width: 50px;
  border-color: chocolate;
  padding: 5px;
}
.head-text {
  font-size: 26px;
}
.searchbar:focus,
.btn-index:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: chocolate;
}
body {
  background-color: #f3f3f3;
  font-family: "Asap", sans-serif;
}
span,
p {
  font-family: "Source Sans Pro", sans-serif;
}
.x {
  padding: 0;
  height: 150px;
}
.create_article{
  font-weight:bolder;
  font-family: 'Asap', sans-serif;
  color: chocolate;
  padding-bottom:10px;
  margin-top:8em;
  text-align:center;

}
.article{
width:80%;
background-color:#f3f3f3;
height:5%;
margin: 0 auto;
padding:7px;
}
.width{
  width:70%;
  text-align:center;
}
.center{
  text-align:center;
}
.dangeralert{
color:red;
font-weight:bold;
padding:15px;
}

input:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.btn-outline-brown {
  color: chocolate;
  border: solid 1px chocolate;
}

.margin-4 {
  margin: 0.4em;
}

.brown {
  color: chocolate !important;
}

.jumb {
  margin-top: 8em;
  background-color: rgb(210, 105, 30);
  color:white;
}
.far:hover {
  font-weight: 900 !important;
}
.far {
  color: black !important;
}

.far:active {
  font-weight: 900 !important;
  background-color: rgb(209, 209, 209) !important;
  color: black;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}
