.header-image {
  background-image: url("./images/fantasy-2543658_1920.jpg");
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.btn-index {
  width: 8em;
  height: 2.5em;
  border-radius: 15px;
  margin: 0.2em;
}

.card-image {
  height: 60%;
}

.card-body {
  height: 40%;
}

footer {
  background: #8b3f08;
  text-align: center;
}

footer,
.btn-index,
.header-image,.btn-signup {
  background-color: #8b3f08;
  color: #fff;
}

.story-head,
.top-story {
  border-bottom: 2px solid rgb(139, 63, 8);
}

.story-head,
.head-text {
  color: #8b3f08;
}

.article-container {
  padding: 20px 60px 20px 60px;
}

.searchbar {
  border-radius: 8px;
  width: 50px;
  border-color: chocolate;
  padding: 5px;
}

.head-text {
  font-size: 26px;
}

.searchbar:focus,
.btn-index:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: chocolate;
}

body {
  background-color: #f3f3f3;
  font-family: "Asap", sans-serif;
}
span,
p {
  font-family: "Source Sans Pro", sans-serif;
}
.x {
  padding: 0;
  height: 150px;
}

.create_article{
  font-family: 'Asap', sans-serif;
  color: chocolate;
  padding-bottom:10px;
  margin-top:4em;
  text-align:center;
}

.article{
width:80%;
background-color:#f3f3f3;
height:5%;
margin: 0 auto;
padding:7px;
}

.width{
  width:70%;
  text-align:center;
}

.center{
  text-align:center;
}

.dangeralert{
color:red;
font-weight:bold;
padding:15px;
}

input:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.btn-outline-brown {
  color: chocolate;
  border: solid 1px chocolate;
}

.margin-4 {
  margin: 0.4em;
}

.brown {
  color: chocolate !important;
}

.jumb {
  margin-top: 8em;
  background-color: rgb(210, 105, 30);
  color:white;
}

.far:hover {
  font-weight: 900 !important;
}

.far:active {
  color: black !important;
}
.far {
  background-color: chocolate;
  font-weight: 900 !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.heading {
  color: chocolate;
  font-size: 2em;
}

hr {
  margin-bottom: 40px;
  width: 90%;
}

.profile-card {
  width: 100%;
  height: 17em;
  box-shadow: 2px -2px 12px rgba(114, 107, 111, 0.21);
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding: 35px;
}

.profile {
  min-height: 40vh;
}

.btn-outline-brown {
  color: chocolate;
  border: solid 1px chocolate;
}

.fa-map-marker {
  padding-right: 10px;
}

.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: white;
  box-shadow: 2px -2px 12px rgba(114, 107, 111, 0.21);
}

.long {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  border: 0;
  border-bottom: solid 1px #4c4c4c;
  background-color: #f3f3f3;
}

input:focus {
  outline: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: #f3f3f3;
  font-family: 'Asap', sans-serif;
}

span, p, i {
  font-family: 'Source Sans Pro', sans-serif;
  color:#4c4c4c;
}

.heading {
  color: chocolate;
  font-size: 2em;
}

hr {
  margin-bottom: 40px;
  width: 90%;
}

.profile {
  min-height: 40vh;
}

.btn-outline-brown {
  color: chocolate;
  border: solid 1px chocolate;
}

.fa-map-marker {
  padding-right: 10px;
}

.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: white;
  box-shadow: 2px -2px 12px rgba(114, 107, 111, 0.21);
}

.long {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  border: 0;
  border-bottom: solid 1px #4c4c4c;
  background-color: #f3f3f3;
}

input:focus {
  outline: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.roborder{
border:2px solid red
}

.btn-article{
  border:none;
  background:#f3f3f3;
  color: chocolate;
}
.line a{
  color: black;
}
.line :hover{
  text-decoration:none;
}

.brown {
  color: chocolate !important;
}

.jumb {
  margin-top: 8em;
  background-color: rgb(210, 105, 30);
  color:white;
}
.far:hover {
  font-weight: 900 !important;
  color: black !important;
}
.far {
  background-color: chocolate;
  font-weight: 900 !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}
.far:active {
  color: black;
}
.add-mg-top {
  margin-top: 5em;
}
.article-marign{
  padding-top:100px;
}
.img-article{
  margin:30px 0px;
  width:100%;
}
.ql-editor {
  font-size: 30px;
}
.article-fontsize{
  font-size: 20px;
}
.article-title{
  font-weight: bolder;
}
.read-time {
  font-size: 15px;
  color: grey;
}
